terratowns_endpoint = "https://terratowns.cloud"
bucket_name="39gbtngmhkwgniynv3mf2q8s2bjk71ml"
mario_public_path="/workspace/terraform-beginner-bootcamp-2023/public/mario"
recipe_public_path="/workspace/terraform-beginner-bootcamp-2023/public/mushroom_pasta"
# index_html_filepath="./public/index.html"
# error_html_filepath="./public/error.html"
# assets_filepath="./public/assets"
mario_content_version=1
mushroom_pasta_content_version=1